Calculator/*.iml
Calculator/gradle
Calculator/local.properties
Calculator/idea/caches
Calculator/idea/libraries
Calculator/idea/modules.xml
Calculator/idea/workspace.xml
Calculator/idea/navEditor.xml
Calculator/idea/assetWizardSettings.xml
Calculator/DS_Store
Calculator/build
Calculator/captures
Calculator/externalNativeBuild
Calculator/cxx
CurrencyApp/*.iml
CurrencyApp/gradle
CurrencyApp/local.properties
CurrencyApp/idea/caches
CurrencyApp/idea/libraries
CurrencyApp/idea/modules.xml
CurrencyApp/idea/workspace.xml
CurrencyApp/idea/navEditor.xml
CurrencyApp/idea/assetWizardSettings.xml
CurrencyApp/DS_Store
CurrencyApp/build
CurrencyApp/captures
CurrencyApp/externalNativeBuild
CurrencyApp/cxx
